Repository maksnowak/FileSharingSystem, pull requests merged in 2024-12, with the labels that each got.

#24 hide swagger endpoint and remove useless comments
  accounts/main.go
  docker-compose.yml
Labels: backend, accounts, docker

#33 Added accounts microservice
  accounts/Dockerfile
  accounts/db/main_test.go
  accounts/db/mongo.go
  accounts/docs/docs.go
  accounts/docs/main_test.go
  accounts/docs/swagger.json
  accounts/docs/swagger.yaml
  accounts/go.mod
  accounts/go.sum
  accounts/handler.go
  accounts/handlers/getAccount.go
  accounts/handlers/getAccount_test.go
  accounts/handlers/login.go
  accounts/handlers/login_test.go
  accounts/handlers/main_test.go
  accounts/handlers/modifyAccount.go
  accounts/handlers/modifyAccount_test.go
  accounts/handlers/register.go
  accounts/handlers/register_test.go
  accounts/main.go
  accounts/main_test.go
  accounts/models/doctypes.go
  accounts/models/main_test.go
  accounts/models/user.go
Labels: documentation, enhancement, accounts, docker

#40 Add placeholder login page
  .mailmap
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/components/CreateAccountForm.vue
  frontend/src/components/CreateAccountLink.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/components/LoginForm.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/__tests__/HelloWorld.spec.ts
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/__tests__/counter.spec.ts
  frontend/src/stores/counter.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/CreateAccount.vue
  frontend/src/views/Home.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/Login.vue
Labels: enhancement, frontend, accounts

#52 add functional requirements.txt and use cases
  README.md
Labels: documentation

#59 Split makefile into separate build and run stages
  Makefile
  docker-compose.yml
Labels: enhancement
