Repository maksnowak/FileSharingSystem, pull requests merged in 2024-11, with the labels that each got.

#4 add file-transfer hello-world microservice
  Makefile
  docker-compose.yml
  file-transfer/Dockerfile
  file-transfer/go.mod
  file-transfer/main.go
  file-transfer/main_test.go
Labels: backend, file-transfer

#7 add mongo connection example
  .gitignore
  file-encryption/go.mod
  file-encryption/go.sum
  file-encryption/main.go
Labels: backend, file-encryption

#19 Testy jednostkowe dla frontendu
  Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stores/__tests__/counter.spec.ts
  frontend/vitest.config.ts
Labels: frontend
